**/.DS_Store
**/.terraform
**/*.tfstate
**/*.tfstate.backup
**/.terraform.lock.hcl
**/bin/**
**/docs/build/**
**/*.zip
**/*.tar
**/*.gz
**/.venv
**/*.lock.info
**/*.env
**/*values.yml
objects.inv
notes
!**/*.sample.values.yml
!**/*.sample.env
