export AWS_ACCOUNT_ID = "123456790"
export CLUSTER_ROLE_NAME = "AWSRoleForEKS"
export NODE_ROLE_NAME = "AmazonEKSNodeRole"
export TF_VAR_cluster_role_arn="arn:aws:iam::${AWS_ACCOUNT_ID}:role/${CLUSTER_ROLE_NAME}"
export TF_VAR_node_role_arn="arn:aws:iam::${AWS_ACCOUNT_ID}:role/${NODE_ROLE_NAME}"
export TF_VAR_vpc_id="vpc-xxxx"
export TF_VAR_public_subnet_ids='["subnet-xxxx","subnet-xxxx"]'
export TF_VAR_subnet_ids='["subnet-xxxx","subnet-xxxx"]'
export TF_VAR_source_ips='["x.x.x.x/xx"]'